@model FileUpload
@{
}

<head>
    <style>
        .custom-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-container bg-dark text-light">
                    <h2 class="text-center mb-4">File Upload Details</h2>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <h4>File Description:</h4>
                            <p>@Model.FileDescription</p>

                            <h4>Short Link:</h4>
                            <p>@Model.ShortLink</p>
                            
                            <h4>Expires on:</h4>
                            <p>@Model.DateExpire.ToString("MM/dd (HH:MM)")</p>
                            
                            <h4>Qr Image:</h4>
                            @*<img src="data:image/png;base64,@Convert.ToBase64String(Model.QrImage)" alt="QR Code" />*@
                        </div>

                        <div class="col-md-6">
                            <table class="table text-light">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>File Name</th>
                                    <th>Size</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    int fileCount = 1;
                                }
                                @foreach (var fileDetail in Model.FileDetails)
                                {
                                    @using (Html.BeginForm("DownloadFile", "FileUpload", FormMethod.Post))
                                    {
                                        <tr>
                                            <td>#@fileCount</td>
                                            <td>@fileDetail.FileName</td>
                                            <td>@fileDetail.FileSize.ToString("0.00") MB</td>
                                            <td>
                                                @Html.Hidden("fileName", @fileDetail.FileName)
                                                @Html.HiddenFor(model => model.ShortLink)
                                                <button type="submit" class="btn btn-light">Download</button>
                                            </td>
                                        </tr>
                                    }
                                    fileCount++;
                                }
                                </tbody>
                            </table>
                            @using (Html.BeginForm("DownloadFile", "FileUpload", FormMethod.Post))
                            {
                                string[] fileNames = Model.FileDetails.Select(f => f.FileName).ToArray();
                                @for (int i = 0; i < fileNames.Length; i++)
                                {
                                    @Html.Hidden("fileNames[" + i + "]", fileNames[i])
                                }

                                @Html.HiddenFor(model => model.ShortLink)
                                <button type="submit" class="btn btn-light align-content-end">Download All</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>