﻿@using System.Security.Cryptography.X509Certificates
@model FileUpload

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?AccessShortLinkinkID=397860
*@
@{
}
<head>
    <style>
        .custom-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
        .custom-width {
            width: 150px;
        }
        .file-description-width {
            width: 400px;
        }
        .password{}

    </style>
</head>

<h2>Create New File Upload</h2>
@using (Html.BeginForm("Create", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="custom-container bg-dark text-light">

                    @*File description input*@
                    <div class="form-group p-2">
                        <p>File Description</p>
                        @Html.TextBoxFor(model => model.FileDescription, 
                            new
                            {
                                @class = "form-control file-description-width",
                                placeholder = "Option to add file(s) description here"
                            })
                        @Html.ValidationMessageFor(model => model.FileDescription)
                    </div>

                    @*File selection*@
                    <div class="form-group p-1">
                        <label for="files" class="control-label"></label>
                        <input type="file" id="files" name="files" multiple/>
                        <div id="selectedFileDetails"></div>
                    </div>
                    
                    <div class="form-group p-2">
                        <div class="row text-start">
                            @*DateExpire selection*@
                            <div class="col-6">
                                <p>Expires in</p>
                                @Html.DropDownList("DropdownSelection", new SelectList(
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "12 Hours", Value = "12" },
                                        new SelectListItem { Text = "24 Hours", Value = "24" },
                                        new SelectListItem { Text = "48 Hours", Value = "48" },
                                    }, "Value", "Text"), new { @class = "form-control custom-width" })
                            </div>
                            @*Password input*@
                            <div class="col-6">
                                <p>Password (optional)</p>
                                @Html.TextBoxFor(model => model.Password, 
                                    new
                                    {
                                        @class = "form-control custom-width",
                                        maxLength = 12,
                                        onkeyup="charUpdate()",
                                        id="charCount"
                                    })
                                @Html.ValidationMessageFor(model => model.Password)
                                <span id="charCountDisplay">0 / 12 characters</span>
                            </div>
                        </div>
                        <div class="form-group pt-3">
                            <input type="submit" value="Create" class="btn btn-warning"/>
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    // Detect character input and update character count
    function charUpdate() {
        var length = document.getElementById('charCount').value.length;
        document.getElementById('charCountDisplay').innerHTML = length + " / 12 characters";
    }

</script>