﻿@using System.Security.Cryptography.X509Certificates
@model FileUpload
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Create New File Upload</h2>

@using (Html.BeginForm("Create", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FileDescription)
        @Html.TextBoxFor(model => model.FileDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FileDescription)
    </div>

    <div class="form-group p-2">
        <label for="files" class="control-label" />
        <input type="file" id="files" name="files" multiple />
    </div>

    // DateExpire selection
    <div class="form-group">
        @Html.Label("File expire setting")
        @Html.DropDownList("DropdownSelection", new SelectList(
    new List<SelectListItem>
    {
    new SelectListItem { Text = "12 Hours", Value = "12" },
    new SelectListItem { Text = "24 Hours", Value = "24" },
    new SelectListItem { Text = "48 Hours", Value = "48" },
    }, "Value", "Text"), new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>